/* Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-image: url("./img/pic_1.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
	background-size: cover;
    overflow-y: hidden;

}

header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 20px 40px 0 40px ;
}

header i  {
    font-size: 2rem;
    color: white;
}


sidebar {
    margin-top: 30vh;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

sidebar i {
margin-bottom: 50px;
}

sidebar i {
    font-size: 2rem;
    color: white;
}


photo_button .small_circle{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 100px;
    margin-left: 44.2%;
    top: 898px;
    z-index: 10;
    opacity: 1;
    border: 3px grey solid;
}

photo_button .large_circle  {
    position: absolute;
    width: 105px;
    height: 105px;
    background-color: white;
    border-radius: 100px;
    margin-left: 42%;
    top: 888px;
    z-index: -1;
}

photo_button i {
 font-size: 2.5rem;
 position: absolute;
 top: 920px;
 left: 49.5%;
 z-index: 100;
 opacity: .7;
}


bottombar img {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    border: white 3px solid;
}

bottombar {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-around;
   padding-top: 50px ;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
}

bottombar p {
    padding-top: 20px;
    font-size: 1.3rem;
}

bottombar i {
    font-size: 2.3rem;
    color: white;
    margin-top: 10px;
}